.registerBox {
    width: 40vw;
    height:  40vw;
    z-index: 15;
    margin: -20vh auto;
    box-shadow: darkgray 2px 10px 20px;
    display: flex;
    flex-direction: column;

    background-color: rgb(238, 238, 238);
}

.registerBox label, input {
    width: 250px;
    min-height: 25px;
    font-size: 1.6vw;
    margin: 2%;
    color: rgb(83, 83, 83);

    margin-left: auto;
    margin-right: auto;
}

/*Toggle Menu*/
.dontDisplay{
    display: none;
  }
.closeButton div{
    background-color: red;
    width: 25px;
    height: 5px;
    position: absolute;
    margin-top: 10px;
    margin-left: 38.3vw;
    cursor: pointer;
  }
  
  .first{
    transform: rotateZ(45deg);
  }
  .second{
    transform: rotateZ(-45deg);
  }